.products-header-container {
    border-bottom: 2px solid darken($light-grey-color, 15%);
    display: flex;
    font-weight: bold;
    margin-bottom: .25rem;
    padding: 1rem 1rem .25rem;

    div {
        width: 33.33%;

        &:last-child {
            text-align: right;
        }
    }
}